Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.23
MySQL-python==1.2.3
SOAPpy==0.12.0
Werkzeug==0.9.4
argparse==1.2.1
chardet==2.0.1
distribute==0.6.24
feedparser==5.1.2
fpconst==0.7.2
icalendar==3.6.1
itsdangerous==0.24
lxml==2.3.2
pylibacl==0.5.1
pyspatialite==3.0.1
python-dateutil==2.2
pytz==2012c
pyxattr==0.5.1
rdflib==2.4.2
rdiff-backup==1.2.8
requests==2.3.0
six==1.5.2
virtualenv==1.7.1.2
wsgiref==0.1.2
