{% extends "layout.html" %}
{% block title %}Where does my poop go?{% endblock %}
{% block body %}
<div class="col-lg-12">
<h1>Where does the poop go?</h1>
</div>
<div class="col-lg-12">
<form class="form-inline" method="GET" action="{{ url_for('map_page') }}">
   <div class="form-group">
   <input type="text" class="form-control" placeholder="Address" name="addr">
   <input type="text" class="form-control" placeholder="Zip (optional)" name="zip">
   </div>
   <button type="submit" class="btn btn-default">Submit</button>
 </form>
 <br/>
</div>
<div class="col-lg-12">
 <p>If it is unable to find any sewers at the given address try using a nearby address.</p>
</div>
<h3>Overview</h3>
<ul>
   <li><a href="http://poop.gilslotd.com:5000/map?addr=15520+Camden+Ave&zip=68116">Fort</a></li>
   <li><a href="http://poop.gilslotd.com:5000/map?addr=14100+Crawford+St&zip=68010">Boys Town</a></li>
   <li><a href="http://poop.gilslotd.com:5000/map?addr=2824+N+205th+St&zip=68022">Elkhorn</a></li>
   <li><a href="http://poop.gilslotd.com:5000/map?addr=5117+S+170th+Ave&zip=68135">Southward Millard</a></li>
   <li><a href="http://poop.gilslotd.com:5000/map?addr=17010+M+St&zip=68135">Northward Millard</a></li>

</ul>
{% endblock%}
